.draw{
  background-image:url('http://ow-prod.oss-cn-beijing.aliyuncs.com/platform_id_957/app_id_975/roled_user_id_46526/type_0/6960de0aeaea427abcc62e4c348a1b2c.jpeg');
  width:300px;
  height:300px;
  background-repeat:no-repeat;
  background-size:300px 300px;
}